
body{
  width: 100%;
  background-color: #fff2e8;
}

.contents-area{
  width: 100%;
  background-color: #ffb780;
}

.howto{
  padding: 30px 20px 20px 30px;
}

.howto h1{
  font-size: 18pt;
}

.howto ol{
  padding: 5px 10px 10px 10px;
}

.codep{
  padding: 3px 3px 3px 3px;
  background-color: #f0f0f0;
}

.content{
  width: 90%;
  margin: auto;
  margin-top: 20px;
  padding: 20px 20px 20px 20px;
  background-color: #ffffff;
}

.table-brick{
  padding-left: 20px;
  padding-bottom: 50px;
  text-align: center;
  border-spacing: 30px;
}
.table-brick th{
  font-size: 14pt;
}
.table-brick td{
  font-size: 25pt;
}

@media (min-width: 1200px){
  .contents-area{
    width: 1200px;
    margin: auto;
  }
}

@media (max-width: 600px){
  .contents-area{
    width: 600px;
  }
}
