:root{
  --page-background: #fff2e8;
  --contents-background: #ffb780;
}

body{
  width: 100%;
  background-color: var(--page-background);
}

.contents-area{
  width: 100%;
  background-color: var(--contents-background);
}

.content{
  width: 90%;
  margin: auto;
  margin-top: 20px;
  padding: 20px 20px 20px 20px;
  background-color: #ffffff;
}

.table-brick{
  padding-left: 20px;
  padding-bottom: 50px;
  text-align: center;
  border-spacing: 30px;
}
.table-brick th{
  font-size: 14pt;
}
.table-brick td{
  font-size: 25pt;
}

@media (min-width: 1200px){
  .contents-area{
    width: 1200px;
    margin: auto;
  }
}

@media (max-width: 600px){
  .contents-area{
    width: 600px;
  }
}
